*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* * Defines what 1rem is */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 1.6rem;
  min-height: 100%;
}

.list-item {
  margin-bottom: 10px;
}

.list-icon {
  color: #000;
  font-size: 4rem;
}

.icon {
  color: rgb(139, 139, 139);
  font-size: 4rem;
}

.list-text {
  color: #000;
  font-size: 2.5rem;
}

.active {
  font-weight: bold;
}

.user-round {
  border-radius: 50%;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  padding: 10px;
  object-fit: cover;
}

.image-holder {
  width: 5%;
}

.search-input {
  width: 100%;
  font-size: 1.5rem;
  padding-left: 10px;
  border-radius: 0.8rem;
  border: 1px solid black;
  box-shadow: 0.1rem 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
  height: 4rem;
}

.search-icon {
  color: #000;
  font-size: 3rem;
  right: 2rem;
  position: absolute;
  align-self: center;
}

.search-container {
  position: relative;
  width: 30%;
  display: flex;
}

.search-input::placeholder {
  padding: 0 1rem;
  font-style: italic;
}

.search-input:focus {
  outline: none;
  border: 1px solid rgb(64, 120, 232);
  box-shadow: none;
}

.search-input:focus + .search-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .image-holder {
    width: 30%;
  }
}
