*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* * Defines what 1rem is */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 1.6rem;
  min-height: 100%;
}

.list-item {
  margin-bottom: 10px;
}

.list-icon {
  color: #000;
  font-size: 4rem;
}

.icon {
  color: rgb(139, 139, 139);
  font-size: 4rem;
}

.list-text {
  color: #000;
  font-size: 2.5rem;
}

.active {
  font-weight: bold;
}

.user-round {
  border-radius: 50%;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  padding: 10px;
  object-fit: cover;
}

.image-holder {
  width: 5%;
}

@media screen and (max-width: 768px) {
  .image-holder {
    width: 30%;
  }
}
